# core variables
[core]
  ; Don't trust file modes
  filemode = false
	editor = /usr/bin/vim


[user]
  name = greggreg
  email = greggreg@itsgreggreg.com

[alias]
  sshow = "!f() { git stash show stash^{/$*} -p; }; f"
  sapply = "!f() { git stash apply stash^{/$*}; }; f"

[color]
  ui = auto
