.DS_Store
dotfiles/.config/ranger/bookmarks
dotfiles/.config/ranger/history
dotfiles/.config/configstore/update-notifier-npm.json
*.ini
dotfiles/.config/qBittorrent/qBittorrent-data.ini
dotfiles/.config/qBittorrent/qBittorrent.ini
tmux-client*
dotfiles/.config/yarn
dotfiles/.config/qBittorrent*/*
